{% extends "layout.html" %}

{% block title %}Data{% endblock %}

{% block content %}
<div class="main-content">
    <section class="hero">
        <video autoplay muted loop id="backgroundVideo">
            <source src="/static/NewFolder/bakground_video.mp4" type="video/mp4"> <!-- need to change new folder to video -->
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
    </section>
    <div class="content">
        <h1>User Data</h1>
    </div>
</div>

<style>
    .content {
        background-color: white;
        height: 200px;
    }
</style>
{% endblock %}
