{% extends "layout.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
<div class="main-content">
    <section class="background">
        <video autoplay muted loop id="backgroundVideo">
            <source src="../static/NewFolder/bakground_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
    </section>
    {# <!-- This is where the content goes --> #}
    <div class="gates-table">

    </div>
    <div class="animals-table">

    </div>
    <div class="animal-count-histo">

    </div>
    <div class="stats-table">

    </div>
</div>
<style>
    
</style>
{% endblock %}
