<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/test.css">
        <title>Backend Test</title>
    </head>
    <body>
        <h1>This website is for backend testing!</h1>
        {% if user %}
            <p>Logged in as: <strong>{{ user.username }}</strong> (ID: {{ user.id }})</p>
            <p>Access Token: <strong>{{ token['access_token'] }}</strong></p>
            <button onclick="location.href='/logout'">Logout</button>
        {% else %}
            <button onclick="location.href='/login'">Login with GitHub</button>
        {% endif %}
        <div id="status-container">
            <p><strong>Message:</strong> <span id="message"></span></p>
            <p><strong>Status:</strong> <span id="status"></span></p>
        </div>

        <script src="../static/script.js"></script>
    </body>
</html>
