body {
    margin: 0;
    background-image: url("background_placeholder.jpg")
}

#statswindow {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: black;
    width: 30%;
}

#video {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#footage {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #066b3b, #95cf25);
}

#vidwrapper {
    text-align: center;
    height: 100%;
    float: left;
    width: 70%;
}

.stat {
    color: white;
}

button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    height: 100%;
    width: 100px;
    
}

 button:hover {
    background-color: #ddd;
    color: black;
 }

#cyclebuttons {
    margin-top: 10px;
    position: inherit;
    clear: both;
    height: 50px;
    margin-bottom: 10px;
}

.buttoncontainer {
    float: left;
    height: 100%;
}

#nextcontainer {
    float: right;
    margin-right: 30%;
}

#prevcontainer {
    margin-left: 30%;
}

#nav {
    background-color: #f8f4d8;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#title {
    font-family: 'Noto Sans JP';
}

#controlbuttons {
    margin-top: 10px;
    position: inherit;
    clear: both;
    height: 50px;
    padding-top: 10px;
}

#closecontainer {
    float: right;
    margin-right: 30%;
}

#opencontainer {
    margin-left: 30%;
}
